<script lang="ts" setup>
export interface characterProps {
  id: number;
  name: string;
  status: string;
  species: string;
  origin: characterOrigin;
  location: characterLocation;
  image: string;
}
interface characterOrigin {
  name:string;
  url:string;
}
interface characterLocation {
  name:string;
  url:string;
}
const props = defineProps({
  data: Object as () => characterProps,
});
</script>
<template>
  <article class="character-card">
    <img :src="data?.image" :alt="data?.name" class="character-card__img" />
    <div class="character-card__info">
      <div class="info-block">
        <h2 class="character-card__title">
          {{ data?.name }}
        </h2>
        <div class="character-card__status">
          <span
            v-if="data?.status === 'Alive'"
            class="status__text"
            :class="{ 'status__text--alive': data?.status == 'Alive' }"
          >
            Alive - {{ data?.species }}</span
          >
          <span
            v-if="data?.status === 'Dead'"
            class="status__text"
            :class="{ 'status__text--dead': data?.status == 'Dead' }"
          >
            Dead - {{ data?.species }}</span
          >
          <span
            v-if="data?.status === 'unknown'"
            class="status__text"
            :class="{ 'status__text--unknown': data?.status == 'unknown' }"
          >
            Unknown - {{ data?.species }}</span
          >
        </div>
      </div>
      <div class="info-block">
        <p class="info-block__text">Last known location:</p>
        <p class="info-block__title">
          {{ data?.location?.name }}
        </p>
      </div>
      <div class="info-block">
        <p class="info-block__text">First seen in:</p>
        <p class="info-block__title">
          {{ data?.origin?.name }}
        </p>
      </div>
    </div>
  </article>
</template>

<style lang="scss" scoped>
.character-card {
  display: flex;
  background-color: #3c3e44;
  max-width: 600px;
  border-radius: 7px;

  // .character-card__img

  &__img {
    max-width: 45%;
    object-fit: cover;
    border-radius: 7px 0px 0px 7px;
  }

  // .character-card__info

  &__info {
    max-width: 55%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 7px;
  }

  // .character-card__title

  &__title {
    font-size: 27px;
    color: #f5f5f5;
    font-weight: 700;
  }

  // .character-card__status

  &__status {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
  }
}
.info-block {
  // .info-block__text

  &__text {
    color: #9e9e9e;
    font-size: 16px;
  }

  // .info-block__title

  &__title {
    color:#f5f5f5;
    font-size: 18px;
  }
}
.status {
  // .status__text

  &__text {
    padding-left: 15px;
    position: relative;
    font-weight: 700;
    font-size: 16px;
  }

  &__text::after {
    content: "";
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    width: 9px;
    height: 9px;
    border-radius: 50%;
  }
}
.status__text--alive::after {
  background-color: #55cc44;
}
.status__text--dead::after {
  background-color: #d63d2e;
}
.status__text--unknown::after {
  background-color: #9e9e9e;
}
</style>
