<script lang="ts" setup>
import { ref, watch, computed, onMounted } from "vue";
import useApi from "@/api/api";
import Filter from "@/components/Filter.vue";
import characterCard, {
  type characterProps,
} from "@/components/CharacterCard.vue";
import Pagination from "@/components/Pagination.vue";

const api = useApi();
const characterList = ref<characterProps[]>([]);
const nameQuery = ref<string>('');
const statusQuery = ref<string>('');
const maxPages = ref<number>();

let currentPage = ref<number>(1);

const getAllCharacters = async () => {
  try {
    const responce = await api.getAllCharacters();
    characterList.value = responce?.data.results;
    maxPages.value = responce?.data?.info?.pages;
  } catch (error) {
    console.log(error);
  }
};
const getPageCharacters = async (page: number) => {
  try {
    const responce = await api.getPage(
      page,
      nameQuery.value,
      statusQuery.value
    );
    characterList.value = responce?.data.results;
    maxPages.value = responce?.data?.info?.pages;
  } catch (error) {
    console.log(error);
  }
};
const filterByNameAndStatus = async () => {
  try {
    const responce = await api.filterByNameAndStatus(nameQuery.value, statusQuery.value);
    characterList.value = responce?.data.results;
    maxPages.value = responce?.data?.info?.pages;
  } catch (error) {
    console.log(error);
  }
};

const changePage = (val: number) => {
  if (val) {
    currentPage.value = val;
    getPageCharacters(val);
  }
};

function filterNameQueryHandler(newValue: string) {
  nameQuery.value = newValue;
}

function filterStatusQueryHandler(newValue: string) {
  statusQuery.value = newValue;
}

onMounted(() => {
  getAllCharacters();
});
</script>

<template>
  <main class="main">
    <div class="container">
      <header class="home__header">
        <Filter
          @update:name="filterNameQueryHandler" 
          @update:status="filterStatusQueryHandler"
          @filter="filterByNameAndStatus"
          :name="nameQuery" 
          :status="statusQuery"
        />
        <Pagination
          :pages="maxPages"
          :page="currentPage"
          v-model="currentPage"
          @update:page="changePage!"
        />
      </header>
      <section class="home__inner">
        <characterCard
          v-for="item in characterList"
          :key="item?.id"
          :data="item"
        />
      </section>
    </div>
  </main>
</template>

<style lang="scss" scoped>
.container {
  max-width: 1640px;
  margin: 0 auto;
  padding: 100px 20px;
}
.home__header {
  display: flex;
  justify-content: space-between;
  @media (max-width: 960px) {
    grid-template-columns: repeat(2, 1fr);
  }
}
.home__inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;

  @media (max-width: 960px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 800px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

</style>