<script lang="ts" setup>
import useApi from "@/api/api";
import { computed, onMounted, ref } from "vue";

interface Props {
  pages?: number;
  page?: number;
}

interface Emits {
  (e: "update:page", modelValue: Props["page"]): void;
}
const props = defineProps<Props>();
const emit = defineEmits<Emits>();

const selectedPage = ref(props.page !== undefined ? props.page : 1);


const previous = () => {
  if (selectedPage.value > 1) {
    selectedPage.value = selectedPage.value - 1;
    emit("update:page", selectedPage.value);
  }
};

const next = () => {
  if (props.pages && selectedPage.value < props.pages) {
    selectedPage.value = selectedPage.value + 1;
    emit("update:page", selectedPage.value);
  }
};

const setPage = (index: number) => {
  selectedPage.value = index;
  emit("update:page", selectedPage.value);
};

const displayedPages = computed(() => {
  const pages = [];
  const adjacentPages = 2; 
  const ellipsisThreshold = 3; 

  for (let i = 1; i <= (props.pages || 1); i++) {
    if (
      i === 1 ||
      i === (props.pages || 1) ||
      (i >= selectedPage.value - adjacentPages &&
        i <= selectedPage.value + adjacentPages)
    ) {
      pages.push(i);
    } else if (
      i === selectedPage.value - adjacentPages - 1 &&
      selectedPage.value > ellipsisThreshold + 1
    ) {

      pages.push("...");
    } else if (
      i === selectedPage.value + adjacentPages + 1 &&
      selectedPage.value < (props.pages || 1) - ellipsisThreshold
    ) {
      pages.push("...");
    }
  }

  return pages;
});

</script>

<template>
  <div class="home-pagination" v-if="props.pages">
    <button
      @click="previous"
      :disabled="selectedPage === 1"
      class="home-pagination__button"
    >
    ←
    </button>

    <button
      v-for="page in displayedPages"
      :key="page"
      class="home-pagination__page"
      @click="page === '...' ? null : setPage(page as number)"
      :class="{
        'home-pagination__page--active': selectedPage === page,
        'home-pagination__page--ellipsis': page === '...',
      }"
      :disabled="page === '...'"
    >
      {{ page }}
    </button>

    <button
      @click="next"
      :disabled="selectedPage === props.pages"
      class="home-pagination__button"
    >
    →
    </button>
  </div>
</template>

<style lang="scss" scoped>
.home-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2px;

  &__button {
    padding: 5px 10px;
    background-color: #3c3e44;
    font-weight: 700;
    color: #f1f2f6;
    border: none;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;
    border-radius: 4px;

    &:hover {
      background-color: #f6f6f6;
      color: #3c3e44;
    }
  }

  &__page {
    padding: 5px 10px;
    border-radius: 4px;
    background: #3c3e44;
    
    color: #8b909a;
    align-self: center;
    border: none;

    &--active {
      background-color: #f6f6f6;
      color:#3c3e44;
    }
    &--ellipsis {
      background-color: #f1f2f6;
      color:#222222;
    }
  }

  &__page:hover {
    cursor: pointer;
    background-color: #f6f6f6;
    color: #3c3e44;
  }

}
</style>
