<script lang="ts" setup>
import { ref } from 'vue';

interface Props {
  name:string,
  status:string,
}

interface Emits {
    (e: "update:name", modelValue: Props["name"]): void;
    (e: "update:status", modelValue: Props["status"]): void;
    (e: "filter"): void;
  }

const props = defineProps<Props>();
const emit = defineEmits<Emits>();
const name = ref(props.name);
const status = ref(props.status);

function nameHandler() {
  emit('update:name', name.value)
}
function statusHandler() {
  emit('update:status', status.value)
}
function filterHandler() {
  emit('filter');
}
</script>

<template>
  <div class="filters">
    <div class="filter">
      <span class="filter__span">Фильтр по имени: </span>
      <input v-model="name" @change="nameHandler" type="text" class="filter__input" />
    </div>
    <div class="filter">
      <span class="filter__span">Фильтр по статусу: </span>
      <select v-model="status" @change="statusHandler" class="filter__select">
        <option value="Alive">Alive</option>
        <option value="Dead">Dead</option>
        <option value="Unknown">Unknown</option>
      </select>
    </div>
    <button @click="filterHandler" class="filter-btn">
      Применить
    </button>
  </div>
</template>

<style lang="scss" scoped>
.filter {
  font-size: 18px;
  color: #fff;
  margin-bottom: 20px;
}
.filter-btn {
  padding: 10px 15px;
  background-color: #3c3e44;
  font-weight: 700;
  color: #f6f6f6;
  border: none;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: #f6f6f6;
    color: #3c3e44;
  }
}
</style>